.mat-toolbar {
  min-height: 50px !important;
  height: 50px !important;
  border-bottom: 1px solid #DEDEDE;
  background: white;

  .mat-toolbar-row {
  .mat-button {
    color: #767676 !important;
    font-size: 18px;
    font-weight: 500;
  }

    .mat-tab-label-active {
  font-weight: bold !important;
}

  padding: 0 25px;
  min-height: 50px !important;
  height: 50px !important;
}
}
